@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans:wght@300;400;500;600&display=swap');

.content {
	padding-top: 57px;

	figure {
		width: 100%;
		height: 300px;
		background: gray;
		opacity: 0;
		transition: 1s 0.2s;
	}
	> .inner {
		padding: 100px 10vw;
		min-height: 600px;
		opacity: 0;
		transform: translateY(200px);
		transition-property: opacity, transform;
		transition-duration: 1s;
		transition-delay: 0.5s;

		h1 {
			width: 100%;
			font: 300 70px/1 'Open Sans';
			color: #333;
			margin-bottom: 30px;

			&::before {
				display: block;
				width: 100px;
				height: 1px;
				background: #333;
				margin-bottom: 30px;
				content: '';
			}
		}
	}
}

// 활성화 모션
.content.on {
	figure {
		opacity: 1;
	}

	> .inner {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: $tablet) {
	.content {
		figure {
			height: 150px;
		}
		> .inner {
			padding: 70px 10vw;

			h1 {
				font: 300 50px/1 'Open Sans';

				&::before {
					width: 60px;
					margin-bottom: 15px;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.content {
		figure {
			display: none;
		}
		> .inner {
			padding: 50px 10vw;

			h1 {
				font: 300 30px/1 'Open Sans';

				&::before {
					width: 30px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
