#mobileMenu {
	width: 280px;
	height: 100%;
	background: #111;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	h1 {
		height: 80px;
		border-bottom: 1px solid #ddd;
		padding: 20px 10vw;
		margin-bottom: 30px;

		a {
			font: bold 24px/40px 'arial';
			color: #fff;
		}
	}

	#mobileGnb {
		padding: 20px 0;
		li {
			padding: 10px 0;
			a {
				font: 300 18px/20px 'arial';
				color: #fff;
			}
		}
	}
}
