* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #080808;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
	font-weight: 400;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: transparent;
	cursor: pointer;
}

body {
	overflow-x: hidden;
	width: 100%;
	background: #f0f0f0;
	min-width: 320px;
	font-size: 16px;
	font-family: 'arial', sans-serif;
	word-break: break-word;
}

fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
input,
label {
	vertical-align: middle;
}
