.about_wrap {
	height: 100vh;
	margin-top: 10vw;
	margin-bottom: 10vw;
	padding: 0 10vw;

	.inner {
		position: relative;
		// display: flex;
		// justify-content: space-between;
		padding-top: 65px;
		border-top: 3px solid $primary-color;
	}

	.about_title_wrap {
		// flex: 1;
		position: absolute;
		top: 65px;
		left: 0;
		width: 50%;
		padding-right: 8%;
		z-index: 10;

		.head_title__sub {
			font-size: 1.1875em;
			font-weight: 400;
			line-height: 1;
			opacity: 0;
			transform: translateY(100px);
			transition: 0.4s ease-in-out;
			transition-delay: 0.1s;
		}

		.head_title {
			margin-top: 30px;
			font-size: 110px;
			opacity: 0;
			transform: translateX(-100px);
			transition: 0.4s ease-in-out;
			transition-delay: 0.3s;
			transition-duration: 0.3s;
		}

		.btn_wrap {
			margin-top: 120px;
		}
	}
	.about_img_wrap {
		opacity: 0;
		// transform: translateX(100px);
		transition: 0.5s ease-in-out;
		transition-delay: 0.7s;
		transition-duration: 0.7s;
		// flex: 1;
		// width: calc(50% - 8px);
		width: 100%;
		margin-left: 8px;
		position: relative;

		.swiper {
			position: relative;
			padding-bottom: 20px;

			.controls {
				display: flex;
				gap: 10px;
				margin: 10px 10px 0 0;
				justify-content: flex-end;

				button {
					font-size: 22px;
					color: #000;
				}

				svg {
					cursor: pointer;
					transform: scale(0.7);
					transition: transform 0.5s;

					&.on {
						transform: scale(1);
					}
				}
			}

			.swiper-pagination {
				width: auto;
			}
			.swiper-button-prev {
				position: absolute;
				bottom: 0;
				right: 30px;
				top: inherit;
				left: inherit;
				color: $primary-color;
				transform: scale(0.7);
				z-index: 10;
			}
			.swiper-button-next {
				position: absolute;
				bottom: 0;
				right: 0;
				top: inherit;
				left: inherit;
				color: $primary-color;
				transform: scale(0.7);
				z-index: 10;
			}

			.swiper-wrapper {
				.swiper-slide {
					// border-radius: 20px;
					// position: absolute;
					// top: 0;
					// left: 100%;
					width: 100%;
					height: 85vh;
					z-index: 3;
					transition: 0.7s ease;

					transform: scale(0.7);
					opacity: 0.3;
					filter: brightness(50%);

					img {
						// border-radius: 20px;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.swiper-slide-next {
					transform: scale(1);
					opacity: 1;
					filter: brightness(100%);
				}
			}
		}
	}
	// .about_img_wrap p:nth-of-type(1) {
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	padding: 0;
	// 	z-index: 3;
	// 	transform: scale(1.1);
	// }
	// .about_img_wrap p:nth-of-type(2) {
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	padding: 0;
	// 	z-index: 4;
	// 	transform: scale(1);
	// }

	// .about_navi {
	// 	padding-left: 25px;
	// 	color: white;
	// 	z-index: 3;

	// 	//공통의 버튼 스타일링
	// 	.about_prev,
	// 	.about_next {
	// 		position: relative;
	// 		display: inline-block;
	// 		width: 70px;
	// 		height: 70px;
	// 		border-radius: 50%;
	// 		border: 1px solid $primary-color;
	// 		margin-right: 20px;
	// 		cursor: pointer;

	// 		&::before,
	// 		&::after {
	// 			content: '';
	// 			display: block;
	// 			width: 17px;
	// 			height: 2px;
	// 			background: $primary-color;
	// 			position: absolute;
	// 			top: 50%;
	// 		}

	// 		&::before {
	// 			transform: rotate(45deg) translateX(0px);
	// 		}

	// 		&::after {
	// 			transform: rotate(-45deg) translateX(0px);
	// 		}

	// 		span {
	// 			width: 20px;
	// 			height: 2px;
	// 			background: $primary-color;
	// 			position: absolute;
	// 			top: 50%;
	// 			opacity: 1;
	// 		}

	// 		&.on {
	// 			animation: btnEffect 0.3s 1;
	// 			// 횟수 1
	// 		}
	// 	}
	// 	//좌우 방향에 따른 스타일링
	// 	.about_prev {
	// 		&::before,
	// 		&::after {
	// 			left: 25px;
	// 			transform-origin: left center;
	// 		}
	// 		span {
	// 			left: 25px;
	// 		}

	// 		&.on {
	// 			span {
	// 				animation: prevArrow 0.5s 1;
	// 			}
	// 		}
	// 	}
	// 	.about_next {
	// 		&::before,
	// 		&::after {
	// 			right: 25px;
	// 			transform-origin: right center;
	// 		}
	// 		span {
	// 			right: 25px;
	// 		}
	// 		&.on {
	// 			span {
	// 				animation: nextArrow 0.5s 1;
	// 			}
	// 		}
	// 	}
	// 	@keyframes btnEffect {
	// 		0% {
	// 			transform: scale(1);
	// 			border: 1px solid rgba(255, 255, 255, 1);
	// 		}
	// 		70% {
	// 			transform: scale(2);
	// 			border: 1px solid rgba(255, 255, 255, 0);
	// 		}
	// 		100% {
	// 			transform: scale(1);
	// 			border: 1px solid rgba(255, 255, 255, 1);
	// 		}
	// 	}
	// 	@keyframes prevArrow {
	// 		0% {
	// 			left: 25px;
	// 			width: 20px;
	// 			opacity: 1;
	// 		}
	// 		70% {
	// 			left: -30px;
	// 			width: 50px;
	// 			opacity: 0;
	// 		}
	// 		71% {
	// 			left: 100px;
	// 			width: 120px;
	// 			opacity: 0;
	// 		}
	// 		100% {
	// 			left: 25px;
	// 			width: 20px;
	// 			opacity: 1;
	// 		}
	// 	}

	// 	@keyframes nextArrow {
	// 		0% {
	// 			right: 25px;
	// 			width: 20px;
	// 			opacity: 1;
	// 		}
	// 		70% {
	// 			right: -30px;
	// 			width: 50px;
	// 			opacity: 0;
	// 		}
	// 		71% {
	// 			right: 100px;
	// 			width: 120px;
	// 			opacity: 0;
	// 		}
	// 		100% {
	// 			right: 25px;
	// 			width: 20px;
	// 			opacity: 1;
	// 		}
	// 	}
	// }
}

.on {
	.about_wrap {
		.about_title_wrap {
			.head_title__sub {
				opacity: 1;
				transform: translateY(0);
			}
			.head_title {
				opacity: 1;
				transform: translateX(0);
			}
		}
		.about_img_wrap {
			opacity: 1;
			// transform: translateX(0);
		}
	}
}

@media screen and (max-width: $tablet) {
	.about_wrap {
		height: 100%;
		.inner {
			display: block;
			padding-bottom: 100px;
		}
		.about_title_wrap {
			width: 100%;
			margin: 0;

			.head_title {
				font-size: 12vw;
				line-height: 1;
			}

			.btn_wrap {
				margin-top: 5vw;
			}
		}
		.about_img_wrap {
			width: 100%;
			margin-left: 0;
			margin-top: 60px;

			.swiper-wrapper {
				article {
					height: 50vh;
				}
			}
			.swiper-option {
				bottom: -70px;
				right: auto;
			}
		}
	}
}
