.insights_wrap {
	margin-top: 10vw;
	margin-bottom: 130px;
	padding: 0 10vw;

	.inner {
		padding-top: 65px;
		border-top: 3px solid $primary-color;
	}

	.head_title_wrap {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.head_title {
			font-size: 8vw;
			transform: scaleY(0);
			transform-origin: bottom center;
			opacity: 0;
			transition: 0.4s ease-in-out;
		}
	}

	.gallery_list_wrap {
		.gallery_list {
			display: flex;
			margin-top: 10vw;

			li {
				flex: 1;
				width: calc(100% / 3);
				border-left: 1px solid $primary-color;
				// transform: translateY(100px);
				opacity: 0;
				transition: 0.4s ease-in-out;

				&:nth-child(3n + 3) {
					border-right: 1px solid $primary-color;
				}

				.gallery_item {
					overflow: hidden;
					display: inline-block;
					width: 100%;
					padding: 0 32px;

					&__title {
						overflow: hidden;
						display: -webkit-box;
						height: 90px;
						font-size: 25px;
						font-weight: 300;
						line-height: 1.2;
						margin-bottom: 96px;
						-webkit-line-clamp: 3;
						line-clamp: 3;
						-webkit-box-orient: vertical;
						text-overflow: ellipsis;
						font-family: 'Verdana', sans-serif;
					}

					.gallery_info {
						justify-content: space-between;
						align-items: center;
						font-family: 'Verdana', sans-serif;
						display: flex;

						span {
							display: inline-block;
							font-size: 16px;
							font-weight: 300;
							line-height: 1.45;
						}
					}

					&__img {
						margin-top: 16px;
						z-index: 1;
						background-color: #d8d8d8;
						border-radius: 0.25em;
						position: relative;
						overflow: hidden;
						padding-top: calc(30% * 16 / 9);

						&::before {
							overflow: hidden;
							border-radius: 1.25em;
							display: inline-block;
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							background: $red;
							opacity: 0;
							content: '';
							mix-blend-mode: multiply;
							z-index: 1;
							transition: opacity 0.3s;
						}

						img {
							width: 100%;
							height: 100%;
							max-width: none;
							object-fit: cover;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							transition: 0.4s;
						}
					}

					.gallery_item__img:hover {
						&::before {
							opacity: 0.8;
						}

						img {
							transform: scale(1.2);
						}
					}
				}
			}
		}
	}
}

.on {
	.insights_wrap {
		.head_title_wrap {
			.head_title {
				transform: scaleY(1);
				opacity: 1;
			}
		}
		.gallery_list_wrap {
			li {
				opacity: 1;
				// transform: translateY(0);

				@for $i from 1 through 3 {
					&:nth-of-type(#{$i}) {
						transition-delay: $i * 0.2s;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.insights_wrap {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.insights_wrap .head_title_wrap {
		display: block;

		.head_title {
			font-size: 15vw;
		}
		.btn_wrap {
			margin-top: 30px;
		}
	}
	.insights_wrap .gallery_list_wrap .gallery_list {
		display: block;
		li {
			width: 100%;
			margin-bottom: 40px;
			padding-top: 16px;
			border-top: 1px solid $primary-color;
			border-left: none;

			&:nth-child(3n + 3) {
				border-right: none;
			}

			.gallery_item__title {
				height: 75px;
				margin-bottom: 40px;
				font-size: 20px;
				line-height: 25px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.insights_wrap .head_title_wrap {
		display: block;

		.head_title {
			font-size: 12vw;
		}
		.btn_wrap {
			margin-top: 30px;
		}
	}
	.insights_wrap .gallery_list_wrap .gallery_list li {
		border-left: 0;

		&:nth-child(3n + 3) {
			border-right: 0;
		}
		.gallery_item {
			padding: 0 15px;
		}
	}
}
