.news_wrap {
	height: 100vh;
	padding: 0 10vw;
	margin-top: 10vw;

	.inner {
		padding-top: 65px;
		border-top: 3px solid $primary-color;

		display: flex;
	}

	.head_title {
		flex: 1;
		width: calc(50% - 8px);
		padding-right: 8px;
		span {
			display: inline-block;
			white-space: nowrap;
			transform: scaleY(0);
			transform-origin: bottom center;
			transition: 0.4s ease-in-out;
			opacity: 0;
		}
	}

	.news_list_wrap {
		flex: 1;
		width: calc(50% - 8px);
		margin-left: 8px;
		transform: translateY(200px);
		opacity: 0;
		transition: 0.5s ease-in-out;

		.news_list {
			.small {
				display: block;
				font-size: 10px;
				font-weight: 400;
				line-height: 1.2;
				text-transform: uppercase;
			}
			strong {
				font-size: 30px;
				font-weight: bold;
				line-height: 1.1;
			}

			.news_item {
				margin-top: 16px;
				li {
					width: 100%;
					min-height: 40px;
					border-bottom: 1px solid rgba(17, 17, 17, 0.2);
					padding: 0 16px;
					font-size: 16px;

					.news_link {
						display: inline-block;
						width: 100%;
						padding: 20px;

						&__title {
							font-size: 25px;
							color: #333;
						}
						&__date {
							font-size: 22px;
							color: $red;
						}
						&__desc {
							margin-top: 15px;
							font-size: 22px;
							color: #666;
						}
					}
				}
			}
		}

		.btn_wrap {
			margin-top: 90px;
		}
	}
}
.news_wrap.on {
	.head_title {
		span {
			transform: scaleY(1);
			opacity: 1;
		}
		span:nth-of-type(1) {
			transition-delay: 0.1s;
		}

		span:nth-of-type(2) {
			transition-delay: 0.3s;
		}
	}

	.news_list_wrap {
		opacity: 1;
		transform: translateY(0);
		transition-delay: 0.4s;
	}
}

@media screen and (max-width: $tablet) {
	.news_wrap {
		margin-top: 100px;
		height: 100%;

		.inner {
			display: block;
		}
		.head_title {
			width: 100%;
			font-size: 18vw;
		}
		.news_list_wrap {
			width: 100%;
			margin: 60px 0 0;

			.news_list .news_item li {
				padding: 0 10px;
			}
			.btn_wrap {
				margin-top: 60px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.news_wrap {
		.news_list_wrap {
			margin: 30px 0 0;
			.btn_wrap {
				margin-top: 30px;
			}
		}
	}
}
