.Community {
	> .inner {
		.communityInput {
			position: relative;
			display: flex;
			gap: 50px;
			margin-top: 50px;

			*[class$='Box'] {
				width: 50%;
			}
		}

		.inputBox {
			position: sticky;
			top: 30px;
			left: 0;
			align-self: flex-start;
			width: 100%;
			z-index: 10;
			transform: translateZ(0);

			input,
			textarea {
				background: #f5f8fa;
				display: inline-block;
				width: 100%;
				height: 50px;
				padding: 9px 10px;
				font-size: 16px;
				line-height: 22px;
				color: #33475b;
				border: 1px solid #cbd6e2;
				box-sizing: border-box;
				border-radius: 10px;
				font-family: 'Verdana', sans-serif;
				resize: none;
			}
			textarea {
				height: 300px;
				margin-top: 15px;
			}
			.btnSet {
				margin-top: 15px;
				text-align: right;

				button {
					display: inline-block;
					border: 1px solid #666;
					width: 60px;
					height: 60px;
					margin-right: 15px;
					border-radius: 60px;
					color: #666;
					font: 12px/1 'arial';
					transition: 0.3s ease-in-out;

					&:hover {
					}
				}
			}
		}

		.showBox {
			article {
				margin-bottom: 30px;
				.txt {
					// display: flex;
					// align-items: center;
					// justify-content: space-between;
					background: #fff;
					padding: 30px;
					border: 1px solid #cbd6e2;
					border-radius: 10px;
					.board_desc {
						margin-top: 15px;
					}
				}

				.btnSet {
					text-align: right;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
}
