.Community {
	> .inner {
		.communityInput {
			position: relative;
			display: flex;
			gap: 100px;
			margin-top: 50px;
			opacity: 0;
			transform: translateY(100px);
			transition: 0.7s 0.7s;

			*[class$='Box'] {
				width: 50%;
			}
		}

		.inputBox {
			position: sticky;
			top: 30px;
			left: 0;
			align-self: flex-start;
			width: 100%;
			z-index: 10;
			transform: translateZ(0);

			.inputBox_form {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				input,
				textarea {
					display: inline-block;
					width: 100%;
					height: 50px;
					padding: 9px 10px;
					font-size: 16px;
					line-height: 22px;
					background: transparent;
					border: none;
					border-bottom: 1px solid #33475b;
					font-family: 'Verdana', sans-serif;
					resize: none;
					margin-top: 15px;
					transition: 0.3s;

					&:focus {
						outline: none;
					}
				}

				input:nth-of-type(1),
				input:nth-of-type(2) {
					width: 48%;
				}

				textarea {
					height: 200px;
					margin-top: 30px;
				}
			}

			.btnSet {
				margin-top: 15px;
				text-align: right;
				width: 100%;

				button {
					display: inline-block;
					border: 1px solid #666;
					width: 60px;
					height: 60px;
					margin-right: 15px;
					border-radius: 60px;
					color: #666;
					font: 12px/1 'arial';
					transition: 0.3s ease-in-out;

					&:hover {
					}
				}
			}
		}

		.showBox {
			article {
				margin-bottom: 30px;
				background: #fff;
				padding: 30px;
				border: 1px solid #cbd6e2;
				border-radius: 10px;
				font-family: 'Verdana', sans-serif;

				.txt {
					.board_title {
						font-size: 22px;
					}
					.board_desc {
						color: #555;
						margin-top: 15px;
					}
				}
				.info {
					display: flex;
					justify-content: space-between;
					margin-bottom: 20px;
					p {
						color: gray;
					}
				}

				.btnSet {
					text-align: right;
					margin-top: 20px;

					button {
						padding: 0 5px;
						display: inline-flex;
						align-items: center;

						span {
							display: inline-block;
							margin-left: 5px;
							color: #666;
							font-size: 15px;
						}
						svg,
						svg path {
							font-size: 22px;
							color: #666;
						}
					}
				}

				.postEdit {
					input,
					textarea {
						width: 100%;
						padding: 5px;
						font-size: 16px;
						color: #222;
						border: none;
						background: #f0f0f0;
						border-bottom: 1px solid #111;
						resize: none;
						font-family: 'Verdana', sans-serif;
					}
					textarea {
						margin-top: 15px;
						min-height: 150px;
					}
					.info {
						input {
							width: 48%;
						}
					}
					.txt {
						input {
							font-size: 22px;
						}
					}
				}
			}
		}
	}

	&.on .communityInput {
		opacity: 1;
		transform: translateY(0);
	}

	@media screen and (max-width: $tablet) {
		> .inner {
			.communityInput {
				display: block;

				*[class$='Box'] {
					width: 100%;
				}
				.inputBox {
					position: static;

					.inputBox_form input {
						height: 40px;
					}
					.inputBox_form textarea {
						height: 100px;
					}
				}
				.showBox {
					margin-top: 50px;
				}
			}
		}
	}

	@media screen and (max-width: $mobile) {
	}
}
